.user_menu_wrapepr{
    top:80px;
    height: auto;
    width: 200px;
    position: fixed;
    right: 100px;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
}

.user_menu_wrapepr ul{
    list-style: none;
    overflow: hidden;
    object-fit: cover;
}

.user_menu_wrapepr ul li,li a::selection {
    background-color: transparent;
    color: inherit;
}

li a{
    color: black;
    text-decoration: none;
}

.user_menu_wrapepr ul li{
    padding:10px 20px;
    border-bottom:1px solid black ;
}
.user_menu_wrapepr ul li:last-child{
    border-radius:0 0 20px 20px;
    border: none;
}

.user_menu_wrapepr ul li:first-child{
    border-radius:20px 20px 0 0;
}

.user_menu_wrapepr ul li:hover{
    background-color: rgba(211, 211, 211, 0.56);
}